---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ServicesSection from '../components/ServicesSection.astro'; // <--- Import it
---

<Layout>
	<main>
		<Hero />
		<ServicesSection /> </main>
</Layout>